<div class="card text-center">
  <div class="card-header">
    Challenge #1
  </div>
  <div class="card-body">
    <h5 class="card-title">Connect With your github account.</h5>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="gToken" placeholder="ghp_teO67el3243ZIUPeLexxxxxxxxxx">
      <label for="gToken" class="text-sm-start text-secondary">Enter your Github Access Token to Connect</label>
    </div>
    <a class="btn btn-dark btn-sm connect-github">Connect</a>
  </div>
</div>
